appname=dockfn
display_name=DockFN
version={{VERSION}}
desc=Register existing Web services as desktop entries.
platform={{PLATFORM}}
arch={{ARCH}}
source=thirdparty
maintainer=lviaa
maintainer_url=https://github.com/lviaa/dockfn
distributor=lviaa
distributor_url=https://github.com/lviaa/dockfn/releases
os_min_version=1.1.3100
desktop_uidir=ui
desktop_applaunchname=dockfn.main
ctl_stop=true
checkport=false
disable_authorization_path=true
